p {
    margin: 1;
}

.Card {
    background: rgba(251, 255, 6, 0.966);
    border-radius: 10px;
    border: solid 3px rgb(98, 0, 255);
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width: 300px;
    height: 400px;
   
    
}

.Card__img {
    text-align: center;
}

.img {
    width: 105px;
    height: 105px;
}

.Card__types {
    display: flex;
    justify-content: center;
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px ;
    border-radius: 5px;
    background: rgb(98, 0, 255);
    color: rgb(250, 246, 7);
    text-align: center;
}

.Card__name {
    text-align:right;
    text-transform: capitalize;
    font-weight: 800;
    
}

.card__info {
    margin-left: 0px;
    text-align:center;
    
}

.Card__data {
    padding-bottom: 200px;

}

#spiner{
    display: none;
    position: absolute;
    top:  50%;
    left:  50%;


}

.pagination{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.img-fondo{
    background-image: url('../../assets/poke3.jpg');
    background-repeat:no-repeat;
    margin-right: 50px;
    background-attachment:fixed ;
    background-size: 100% 100%; 
 
}

.grid-container {
    width: 90%;
    display: grid;
    margin-right: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 200px;
    padding-left: 200px;
    
    
    
  }

  .box-sizing{
    margin-left: 30%;
}

